<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        <h3>home</h3>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Seja bem vindo</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <div id="container">
      <strong>Seja bem vindo</strong>
  
      <ion-button routerLink="/registrar">Cadastre-se</ion-button>
      <ion-button routerLink="/login">Logar</ion-button>
    </div>
  </ion-content>